<div>
  {% if reviews %}
    <div class="flex flex-col">
      <h3>Avis a réviser</h3>
      <hr class="mb-4"/>
      {% for review in reviews %}
        <div class="flex items-center px-4 py-2 border border-ground3 rounded-sm justify-between mb-2">
          <p>{{ review.id }}</p>
          <p>{{ review.trip_id }}</p>
          <p>{{ review.author }}</p>
          <p>{{ review.rating }}</p>
          <p>{{ review.comments }}</p>
        </div>
      {% endfor %}
    </div> 
  {% else %}
    <p class="text-apart">Aucun AVIS NEGATIF à réviser</p>
  {% endif %}
</div>
