{% extends "base.html" %}

{% block title %}
Acceuil
{% endblock %}

{# Desktop: show the normal banner. Mobile: hidden so hero bleeds to top. #}
{% block banner %}
<div class="hidden md:block">
  {% include "partials/banner.html" %}
</div>
{% endblock %}


{% block main %}
<main id="index-main" class="md:pt-2 md:min-h-screen z-0">

  {# Desktop layout (unchanged) #}
  <div class="hidden md:flex sticky top-22 z-10">
    {% include "partials/home-searchbar.html" %}
  </div>
  <div class="hidden md:flex flex-col z-0">
    {% include "partials/index-sections.html" %}
  </div>

  <div class="relative md:hidden h-dvh flex flex-col overflow-hidden">
    <div class="absolute inset-0" aria-hidden="true">
      <img
        src="{{ url_for('static', filename='graphics/banner-home-mobile.jpg') }}"
        class="absolute inset-0 w-full h-full object-cover object-center"
        alt=""
      >
      <div class="absolute inset-0 bg-black/45"></div>
    </div>
    <div class="relative z-10 flex flex-col flex-1 pt-[72px]">
      <div class="flex-1"></div>
      <div class="px-4 pb-8">
        {% include "partials/mobile-home-searchbar.html" %}
      </div>
    </div>
  </div>

</main>
{% endblock %}
