{% extends "base.html" %}

{% block title %}
Acceuil
{% endblock %}

{# Desktop: show the normal banner. Mobile: hidden so hero bleeds to top. #}
{% block banner %}
<div class="hidden md:block">
  {% include "partials/banner.html" %}
</div>
{% endblock %}


{% block main %}
<main id="index-main" class="md:pt-2 min-h-screen z-0">

  {# Desktop layout (unchanged) #}
  <div class="hidden md:flex sticky top-22">
    {% include "partials/home-searchbar.html" %}
  </div>
  <div class="hidden md:flex flex-col z-0">
    {% include "partials/index-sections.html" %}
  </div>

  <div class="relative md:hidden">
    <div class="absolute inset-0" aria-hidden="true">
      <img
        src="{{ url_for('static', filename='graphics/banner-home.jpg') }}"
        class="absolute inset-0 w-full h-full object-cover object-center"
        alt=""
      >
      <div class="absolute inset-0 bg-black/45"></div>
    </div>
    <div class="relative z-10 flex top-1/3 flex-col justify-end px-4 pb-6 pt-[calc(72px+14rem)]">
      {% include "partials/mobile-home-searchbar.html" %}
    </div>
  </div>

</main>
{% endblock %}
