<div class="py-2 px-4 text-base md:text-lg rounded-sm flex flex-col bg-(--color-ground4) gap-2 w-full">
  {% if trips %}
    {% for trip in trips %}
      {% if trip.status == "in-progress" %}
        <div 
          x-data="{ expanded: false }"
          class="p-2 flex items-center justify-between rounded-sm w-full"
          >
            <button @click="expanded = !expanded"
              class="py-2 px-4 font-normal flex rounded-sm bg-(--color-eco-ground2) hover:bg-(--color-eco-ground3) text-(--color-apart3) items-center">
              Voyage en cours
            </button>
            <div 
              x-show="expanded" 
              x-collapse
              class="ml-2 px-24 py-2 flex items-center justify-between bg-(--color-ground2) rounded-sm w-full"
            >
              <section class="flex flex-col gap-2 w-full">
                <div class="flex items-center w-full">
                  <p>{{ trip.summary.start_city }}</p>
                  <svg viewbox="0 0 110 30" class="p2 w-32 h-5">
                    {% include "graphics/travel_right.html" %}
                  </svg>
                  <p>{{ trip.summary.end_city }}</p>
                </div>
                <div class="flex text-base font-normal text-(--color-apart3) items-end">
                  <p>{{ trip.summary.start_time|fr_date }}</p>
                </div>
              </section>
              <button
                type="button"
                hx-post="{{ url_for('trips.complete_trip', trip_id=trip.trip_id, for_trip=trip.trip_id) }}"
                hx-target="#user-trips"
                hx-swap="innerHTML"
                hx-confirm="Êtes-vous sûr.e de vouloir Terminer le voyage ?"
                hx-on::response-error="window.Alpine.store('modal').setError(event.detail.xhr.response)"
                class="p-2 bg-(--color-eco-ground1) text-(--color-ground1) hover:bg-(--color-eco-ground2) rounded-sm"
              >
                Terminer<strong>X</strong>
              </button>
            </div>
        </div>
      {% elif trip.status == "upcoming" %}
        <div 
          x-data="{ expanded: false }"
          class="p-2 flex items-center justify-between rounded-sm w-full"
        >
          <button @click="expanded = !expanded"
            class="py-2 px-4 flex font-normal rounded-sm bg-(--color-eco-ground) hover:bg-(--color-eco-ground2) text-(--color-apart3) items-center">
            Voyage à venir
          </button>
          <div 
            x-show="expanded" 
            x-collapse
            class="ml-2 px-24 py-2 flex items-center justify-between bg-(--color-ground2) rounded-sm w-full">
            <section class="flex flex-col gap-2 w-full">
              <div class="flex items-center w-full">
                <p>{{ trip.summary.start_city }}</p>
                <svg viewbox="0 0 110 30" class="p2 w-32 h-5">
                  {% include "graphics/travel_right.html" %}
                </svg>
                <p>{{ trip.summary.end_city }}</p>
              </div>
              <div class="flex text-base font-normal text-(--color-apart3) items-end">
                <p>{{ trip.summary.start_time|fr_date }}</p>
              </div>
            </section>
            <button
              type="button"
              hx-post="{{ url_for('trips.cancel_trip', trip_id=trip.trip_id, for_trip=trip.trip_id) }}"
              hx-target="#user-trips"
              hx-swap="innerHTML"
              hx-confirm="Êtes-vous sûr.e de vouloir annuler ce voyage ?"
              hx-on::response-error="window.Alpine.store('modal').setError(event.detail.xhr.response)"
              class="p-2 bg-(--color-error) text-(--color-ground1) hover:bg-(--color-error2) rounded-sm"
            >
              annuler<strong>X</strong>
            </button>
          </div>
        </div>
      {% elif trip.status == "completed" %}
        <div 
          x-data="{ expanded: false }"
          class="p-2 flex items-center justify-between rounded-sm w-full"
        >
          <button @click="expanded = !expanded"
            class="py-2 px-4 font-normal flex rounded-sm bg-(--color-ground2) hover:bg-(--color-ground3) text-(--color-apart3) items-center">
            Voyages terminés
          </button>
          <div 
            x-show="expanded" 
            x-collapse
            class="ml-2 px-24 py-2 flex items-center justify-between bg-(--color-ground2) rounded-sm w-full">
            <section class="flex flex-col gap-2 w-full">
              <div class="flex w-full items-center">
                <p>{{ trip.summary.start_city }}</p>
                <svg viewbox="0 0 110 30" class="p2 w-32 h-5">
                  {% include "graphics/travel_right.html" %}
                </svg>
                <p>{{ trip.summary.end_city }}</p>
              </div>
              <div class="flex text-base font-normal text-(--color-apart3) items-end">
                <p>{{ trip.summary.start_time|fr_date }}</p>
              </div>
            </section>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <p class="p-2 bg-(--color-ground4) font-normal rounded-sm text-(--color-contrast3)">Aucun voyage.</p>
  {% endif %}
</div>
