<div class="flex flex-col text-base md:text-lg gap-2 w-full rounded-xs">
  <div class="p-2 flex flex-col w-full">
    <span class="text-(--color-apart3) font-semibold mb-2">
      à venir
    </span>
    {% if trips %}
      {% for trip in trips %}
        {% if trip.status == "upcoming" %}
          <div class="p-1 flex items-center bg-(--color-ground2) rounded-xs w-full">
            <section class="flex flex-col md:flex-row md:gap-6 w-full">
              <div class="flex items-center gap-2">
                <p>{{ trip.summary.start_city }}</p>
                <svg viewbox="0 0 110 30" class="w-12">
                  {% include "graphics/travel_right.html" %}
                </svg>
                <p>{{ trip.summary.end_city }}</p>
              </div>
              <div class="flex items-center text-base font-normal text-(--color-apart) whitespace-nowrap">
                <p>{{ trip.summary.start_time|fr_date }}</p>
              </div>
            </section>
            <button
              type="button"
              hx-post="{{ url_for('trips.leave_trip', trip_id=trip.trip_id, for_participant=current_user.user_id) }}"
              hx-swap="none"
              hx-confirm="Êtes-vous sûr.e de vouloir quitter ce voyage ?"
              hx-on::response-error="window.Alpine.store('modal').setError(event.detail.xhr.response)"
              class="py-1 px-2 bg-(--color-error) text-(--color-ground1) hover:bg-(--color-error2) rounded-xs"
            >
              quitter
            </button>
          </div>
        {% else %}
          <p class="text-sm text-(--color-contrast3)">
            Aucun voyage.
          </p>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="p-2 flex flex-col w-full">
    <span class="text-(--color-apart3) font-semibold mb-2">
      terminés
    </span>
    {% if trips %}
      {% for trip in trips %}
        {% if trip.status == "completed" %}
          <div class="p-1 flex items-center bg-(--color-ground2) rounded-xs w-full">
            <section class="flex flex-col md:flex-row md:gap-6 w-full">
              <div class="flex items-center gap-2">
                <p>{{ trip.summary.start_city }}</p>
                <svg viewbox="0 0 110 30" class="w-12">
                  {% include "graphics/travel_right.html" %}
                </svg>
                <p>{{ trip.summary.end_city }}</p>
              </div>
              <div class="flex items-center text-base font-normal text-(--color-apart) whitespace-nowrap">
                <p>{{ trip.summary.start_time|fr_date }}</p>
              </div>
            </section>
          </div>
        {% else %}
          <p class="text-sm text-(--color-contrast3)">
            Aucun voyage.
          </p>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>

