<div class="relative inline-block" x-data="{ dropdownOpen: false }">
  <button
    type="button"
    @click="dropdownOpen = !dropdownOpen"
    class="p-2 flex rounded-sm hover:bg-(--color-ground4)"
  >
    <svg viewBox="0 0 24 24" class="w-[24px] h-[24px]">
      {% include "graphics/filters_icon.html" %}
    </svg>
  </button>
  <div
    id="filters-dropdown"
    x-cloak
    x-show="dropdownOpen"
    @click.outside="dropdownOpen = false"
    x-transition
    class="p-4 top-12 right-0 absolute flex flex-col bg-(--color-ground2) gap-1 rounded-sm z-50"
  >
    <div class="flex items-center gap-3">
      <label for="eco-filter">eco voyages</label>
      <button
        type="button"
        @click="$store.tripSearch.tripEco = !$store.tripSearch.tripEco"
        :class="$store.tripSearch.tripEco ? 'bg-eco' : 'bg-ground4'"
        class="w-12 h-6 rounded-full"
      >
        <span
          :class="$store.tripSearch.tripEco ? 'translate-x-6' : 'translate-x-1'"
          class="absolute left-1 top-1 w-4 h-4 bg-contrast2 rounded-full transition-transform duration-200"
        ></span>
      </button> 
    </div>

    <div class="flex flex-col">
      <label for="price_filter" class="flex text-contrast2 text-sm items-center gap-2">
        Prix maximum
        <span x-text="$store.tripSearch.price + ' €'"></span>
      </label>
      <input
        id="price_filter"
        x-model="$store.tripSearch.price"
        type="range"
        name="max_price"
        min="0"
        max="30"
        step="1"
        class="range-slider mb-2"
      ></input>
      <label for="driver_rating_filter" class="text-contrast2 text-sm gap-2">
        Note du conducteur
        <span x-text="$store.tripSearch.rating + ' ★' "></span>
      </label>
      <input
        id="driver_rating_filter"
        x-model="$store.tripSearch.rating"
        type="range"
        name="driver_rating_filter"
        min="0"
        max="5"
        step="1"
        class="range-slider"
      ></input>
    </div>
  </div>
</div>

