<section class="flex flex-col bg-ground2 rounded-sm gap-4 justify-center">
  <div class="flex flex-row gap-4 justify-between items-center">
    <div class="p-4 w-48 h-48">
      <img src="/{{ profile_user.photo_url }}" alt="profile-pic" class="object-cover rounded-full">
    </div>
    <div class="p-4 flex gap-4">
      <div class="p-4">
        <h2 class="text-xl font-semibold">{{ profile_user.username }}</h2>
        <p>{{ profile_user.email }}</p>
        {% if owner %}
          <div id="credits-container" hx-get="{{ url_for('users.get_account_credits', for_user=current_user.user_id) }}" hx-trigger="load" hx-swap="innerHTML">
            Loading credits...
          </div> 
        {% endif %}
      </div>
      <div id="roles-container" class="flex p-4 gap-6">
        <p>Rôles :{% for role in roles %}<span class="text-apart"><br>{{ role }}</span>{% endfor %}</p>
        {% if owner %}
        {% endif %}
      </div>
    </div> 
  </div>
</section>

