{% extends "base.html" %}

{% block title %}ecoRide - Home{% endblock %}

{% block content %}

<div class="flex flex-col justify-center items-center">
  <img src="{{ url_for('static', filename='graphics/banner.jpg') }}"
       alt="EcoRide Banner"
       class="w-full h-[500px] object-cover mb-4" />

  <div class="flex flex-col min-h-screen w-[60%] items-center">
    {% include "partials/navbar.html" %}
    {% include "partials/searchbar.html" %}

    <main class="p-8 h-[1512px]">
      <h1 class="text-3xl mb-4">Hello, ecoRide :)</h1>
      <p>this is homepage. toggle navbar and see !</p>
      <p>you landed here at {{ current_time }}</p>
    </main>
  </div>
</div>

{% endblock %}

