{% if moderators %}
<section class="p-2 w-full mb-2 gap-2">
    {% for mod in moderators %}
      <div class="p-2 flex items-center justify-between bg-(--color-ground1) rounded-sm border border-(--color-ground3)">
        <p class="flex gap-6">
          <span class="font-semibold">{{ mod.email }}</span>
          <span class="{{ 'text-apart2' if mod.status == 'active' else 'text-error2' }}">{{ mod.status }}</span>
        </p>
        {% if mod.status == 'active' %}
          <button
            hx-post="{{ url_for('admin.suspend_account', account_id=mod.id) }}"
            hx-confirm="Etes-vous sûr de vouloir suspendre ce modérateur ?"
            hx-target="#moderators-view"
            hx-swap="innerHTML"
            hx-on::response-error="window.Alpine.store('modal').htmlContent(event.detail.xhr.response)"
            class="px-4 py-2 mb-2 rounded-sm bg-(--color-apart) hover:bg-(--color-apart2) text-(--color-ground2)"
          >
            Suspendre
          </button>
        {% elif mod.status == 'suspended' %}
          <button
            hx-post="{{ url_for('admin.activate_account', account_id=mod.id) }}"
            hx-confirm="Etes-vous sûr de vouloir activer ce modérateur ?"
            hx-target="#moderators-view"
            hx-swap="innerHTML"
            hx-on::response-error="window.Alpine.store('modal').htmlContent(event.detail.xhr.response)"
            class="px-4 py-2 mb-2 rounded-sm bg-(--color-ground2) hover:bg-(--color-ground3) text-(--color-contrast2)"
          >
            Activer
          </button>
        {% endif %}
      </div>
    {% endfor %}
  </section>
{% else %}
  <p class="text-(--color-contrast4)">Aucun modérateur actif trouvé.</p>
{% endif %}

