{% extends "base.html" %}

{% block title %}
  Tableau Administrateur
{% endblock %}

{% block main %}
<main class="p-8 flex w-full">
  <div class="p-8 flex bg-ground2 flex-col gap-8 items-center w-full">
    
    <section class="w-[80%]">
      <!-- WIDGETS -->
      <section>
        <div
          hx-get="{{ url_for('admin.get_balance') }}"
          hx-trigger="load"
          hx-target="#platform-balance"
          hx-swap="innerHTML"
        ></div>
        <div id="platform-balance"></div>
      </section> 
      
      <section>
        <div
          hx-get="{{ url_for('admin.get_trips_timeline') }}"
          hx-trigger="load"
          hx-target="#trips-timeline"
          hx-swap="innerHTML"
        ></div>
        <div id="trips-timeline"></div>
      </section>
            
      <section>
        <div
          hx-get="{{ url_for('admin.get_income_timeline') }}"
          hx-trigger="load"
          hx-target="#income-timeline"
          hx-swap="innerHTML"
        ></div>
        <div id="income-timeline"></div>
      </section>
    </section>

    <section>
      <div
        hx-get="{{ url_for('admin.get_moderators') }}"
        hx-trigger="load"
        hx-target="#moderators-view"
        hx-swap="innerHTML"
      ></div>
      <div id="moderators-view"></div>
    </section>

    <section>
      <form>
        <!-- USERS ACTIVE SEARCH -->
      <input type="text" name="username" placeholder="Rechercher un utilisateur" class="input input-bordered w-full max-w-xs">
      </form>
      <div id="user-view"></div>
    </section>
    
  </div>
</main>
{% endblock %}
