{% extends "base.html" %}

{% block title %}
  Tableau Administrateur
{% endblock %}

{% block main %}
<main class="p-8 flex w-full">
  <div class="p-8 flex bg-ground2 flex-col gap-8 items-center w-full">
    
    <section class="w-[80%]">
      <!-- WIDGETS -->
      <section>
        <div
          hx-get="{{ url_for('admin.get_balance') }}"
          hx-trigger="load"
          hx-target="#platform-balance"
          hx-swap="innerHTML"
        ></div>
        <div id="platform-balance"></div>
      </section> 
      
      <section>
        <div
          hx-get="{{ url_for('admin.get_trips_timeline') }}"
          hx-trigger="load"
          hx-target="#trips-timeline"
          hx-swap="innerHTML"
        ></div>
        <div id="trips-timeline"></div>
      </section>
            
      <section>
        <div
          hx-get="{{ url_for('admin.get_income_timeline') }}"
          hx-trigger="load"
          hx-target="#income-timeline"
          hx-swap="innerHTML"
        ></div>
        <div id="income-timeline"></div>
      </section>
    </section>
    
    <section class="flex flex-col w-[80%]">
      <section class="mb-8">
        <div
          hx-get="{{ url_for('admin.get_moderators') }}"
          hx-trigger="load"
          hx-target="#moderators-view"
          hx-swap="innerHTML"
        ></div>
        <h2 class="text-base lg:text-lg font-semibold text-contrast3">Moderators</h2>
        <hr class="mb-4"/>
        <button
          hx-get="{{ url_for('admin.create_moderator') }}"
          hx-target="#moderators-view"
          hx-swap="innerHTML"
          hx-on::response-error="window.Alpine.store('modal').setError(event.detail.xhr.response)"
          class="px-4 py-2 mb-4 rounded-sm bg-apart hover:bg-apart2 transition-colors duration-200"
        >
          Ajouter un moderateur
        </button>
        <div id="moderators-view"></div>
      </section>

      <section>
        <h2 class="text-base lg:text-lg font-semibold text-contrast3">Utilisateurs</h2>
        <hr class="mb-4"/>
        <input 
          type="search"
          name="search-term"
          placeholder="Rechercher un utilisateur"
          hx-post="{{ url_for('admin.query_users') }}"
          hx-target="#users-search-view"
          hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
          class="p-2 bg-ground3 font-normal rounded-sm focus:ring-2 focus:ring-contrast2 focus:outline-none">
        <table class="w-full mt-4">
          <thead class="bg-ground4 rounded-xs">
            <tr> 
              <th class="p-2 text-left">Email</th>
              <th class="p-2 text-left">Username</th>
              <th class="p-2 text-left">Status</th>
              <th class="p-2 text-left">Actions</th>
            </tr>
          </thead>
          <tbody id="users-search-view">
            <tr>
              <td colspan="4" rowspan="4" class="text-center text-apart py-8">
                Tapez pour rechercher un utilisateur...
              </td>
            </tr>
          </tbody>
        </table>
      </section>

    </section>
  </div>
</main>
{% endblock %}
