{% extends "base.html" %}

{% block title %}
Acceuil
{% endblock %}

{% block main %}
<main id="index-main" class="pb-8 pt-2 min-h-screen">
  <div class="hidden md:flex">
    {% include "partials/home-searchbar.html" %}
  </div>
  <div class="flex w-full md:hidden">
    {% include "partials/mobile-home-searchbar.html" %}
  </div>
  <div class="flex w-full md:hidden">
    {% include "partials/mobile-index-sections.html" %}
  </div>
  <div class="hidden w-full md:flex">
    {% include "partials/index-sections.html" %}
  </div>
</main>
{% endblock %}



