{% extends "base.html" %}

{% block title %}
Tableau de bord
{% endblock %}

{% block main %}
<section class="p-8 flex w-full min-h-screen">
  <div class="p-8 flex bg-ground2 flex-col gap-8 items-center justify-center w-full">
    {% include "users/profile_summary.html" %}
    {% if "driver" in roles %}
      <div 
        hx-get="{{ url_for('drivers.get_driver_data', user_id=profile_user.id) }}" 
        hx-trigger="load"
        hx-target="#driver-profile-container" 
        hx-swap="innerHTML"
      ></div>
      <div id="driver-profile-container"></div>
    {% endif %}

    {% if owner %}
      {% include "trips/user_trips.html" %}
    {% endif %}
  </div>
</section>
{% endblock %}
