{% extends "base.html" %}

{% block title %}
Recherche de voyages
{% endblock %}

{% block main %}
<main id="index-main" class="pt-2 pb-8 flex flex-col min-h-screen w-full">
  <div id="searchbar">
    {% include "partials/searchbar.html" %}
    <div id="search_error_msg"></div>
  </div>
  <div id="trip-search-main" class="flex w-full pt-4 gap-4">
    {% include "trips/trip_filters.html" %}
    <div id="trips-container" class="w-full">
      <div id="search_error_msg" class="hidden"></div>
      {% include "trips/trip_results.html" %} 
    </div>
  </div>
</main>
{% endblock %}
