<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='graphics/fav-ecoride.svg') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - ecoRide</title>
    <script type="module" src="http://localhost:5173/app/static/js/app.js"></script>
    {% endblock %}
  </head>
  <body x-data :class="{ 'dark': $store.darkMode.on }" class="flex flex-col bg-(--color-ground) items-center transition duration-200 z-0">
    <div id="banner">
      {% block banner %}
        {% include "partials/banner.html" %}
      {% endblock %}
    </div>
    <div id="header" class="fixed top-0 md:top-4 flex flex-col md:justify-center items-center w-full h-[72px] z-50">
      {% block header %}
      <div class="hidden md:flex w-full items-center justify-center">
        {% include "partials/header.html" %}
      </div>
      <div class="w-full flex md:hidden">
        {% include "partials/mobile-header.html" %}
      </div>
      {% endblock %}
    </div>
    <div id="main-content" class="w-full md:w-[70%]">
      {% block main %}
      MAIN CONTENT
      {% endblock %}
    </div>
    <footer id="footer" class="flex w-full md:p-4 bg-(--color-apart) justify-center items-center">
      {% block foot %}
      {% include "partials/footer.html" %}
      {% endblock %}
    </footer>
    <div  
      x-show="$store.modal.show" 
      x-cloak 
      class="fixed inset-0 bg-(--color-ground2)/50 backdrop-blur-sm z-50 flex items-center justify-center"
      x-transition
      id="modal-backdrop">
      <div
        class="flex flex-col bg-(--color-ground) rounded-sm shadow-lg p-6 w-auto relative"
        @click.outside="$store.modal.close()"
        x-transition>
        <button 
          @click="$store.modal.close()"
          class="absolute p-2 top-2 right-2 text-(--color-contrast2) hover:text-(--color-contrast)">
          ✕
        </button>
        <template x-if="$store.modal.errorMessage" class="w-[80%]">
          <div class="p-4" x-html="$store.modal.errorMessage"></div>
        </template>
        <div id="global-modal" class="w-full"></div>
      </div>
    </div>
  </body>
</html>
