<div class='fixed top-4 flex w-[60%]'>
  <nav class="flex flex-row p-8 rounded-xs bg-[var(--color-base2)] h-[92px] w-full justify-between items-center">
    <div class="flex flex-row items-center">
      <img src="{{ url_for('static', filename='graphics/logo2.svg') }}" class="h-16 w-16 mr-2" />
      <img src="{{ url_for('static', filename='graphics/ecoride.svg') }}" class="h-16 mr-2" />
    </div>
    <div class="flex flex-row items-center gap-4">
      <button id="searchBtn" class="bg-lime-600 px-4 py-2 rounded text-white">Search</button>
      <button id="userBtn" class="bg-gray-600 px-4 py-2 rounded text-white">User</button>
      <button id="themeToggle" class="bg-blue-600 px-4 py-2 rounded text-white">Toggle Theme</button>
    </div>
  </nav>
</div>

