<section class="flex flex-col gap-4">>
  <p class="p-4 text-xl">welcome {{ current_user.username }}</p>
  <div class="flex flex-row gap-4 bg-[var(--color-base2)]">
    <div class="p-4 w-48 h-48">
      <img src="{{ url_for('static', filename='graphics/default-profile2.jpg') }}" alt="profile-pic" class="object-cover rounded-full">
    </div>
    <div class="bg-[var(--color-base2)] p-4 rounded-lg">
        <h2 class="text-xl font-semibold mb-2">Your Profile</h2>
        <p>Username: </p>
        <p>Email: {{ current_user.email }}</p>
    </div>
  </div>
</section>

