<div class="p-4 text-sm md:text-base py-6 md:py-8 text-(--color-apart3) flex w-full gap-2 md:w-[70%] items-center justify-between">
  <section class="flex flex-col">
    <a href="{{ url_for('pages.mentions_legales') }}" class="hover:text-(--color-apart3) whitespace-nowrap">Mentions
      légales</a>
    <a href="{{ url_for('pages.contact') }}" class="hover:text-(--color-apart3)">Nous contacter</a>
  </section>
  <p class="md:whitespace-nowrap">EcoRide &copy; {{ current_year }} </p>
  <section class="flex flex-col">
    <h2 class="font-bold">Suivez-nous</h2>
    <p class="hidden md:inline text-apart">Restez informé des dernières nouvelles et offres d'EcoRide</p>
    <section class="flex md:p-2 gap-2">
      <a href="https://joinmastodon.org/" target="_blank">
        <svg viewbox="0 0 216 232" fill="var(--color-contrast)" xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 hover:fill-(--color-apart3) transition">
          {% include "graphics/mastodon-icon.html" %}
        </svg>
      </a>
      <a href="https://rss.app/fr/bots/rssfeeds-discord-bot" target="_blank">
        <svg viewbox="0 0 24 24" fill="var(--color-contrast)" xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 hover:fill-(--color-apart3) transition">
          {% include "graphics/rss-icon.html" %}
        </svg>
      </a>
    </section>
</div>
