<section class="p-4 font-normal md:font-semibold text-2lg bg-ground2 shadow-lg opacity">
  <span class="font-semibold">Utilisateur.ice</span>
  <hr class="w-full" />
  <div class="p-2 flex flex-col rounded-sm gap-2 text-(--color-contrast4)">
    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('pages.login') }}"
      class="whitespace-nowrap">
      <p> Connexion </p>
    </a>
    <hr class="w-full text-contrast4" />
    <a href="{{ url_for('pages.registration') }}"
      class="whitespace-nowrap">
      <p> Inscription </p>
    </a>
    {% elif current_user.is_authenticated and current_user.user_id %}
    <a href="{{ url_for('pages.profile', identifier=current_user.user_id) }}"
      class="whitespace-nowrap">
      <p> Tableau de bord </p>
    </a>
    <hr class="w-full text-contrast4" />
    <a href="{{ url_for('auth.logout') }}"
      class="whitespace-nowrap">
      <p> Deconnexion </p>
    </a>
    {% endif %}
  </div>
  <span class="font-semibold">Voyages</span>
  <hr class="w-full" />
  <div class="p-2 flex flex-col rounded-sm gap-2 text-(--color-contrast4)">
    <button
      type="button"
      hx-get="{{ url_for('trips.create_trip') }}"
      hx-target="#global-modal"
      hx-swap="innerHTML"
      hx-on::after-request="window.Alpine.store('modal').open()"
      hx-on::response-error="window.Alpine.store('modal').htmlContent(event.detail.xhr.response)"
      class="flex flex-row rounded-xs gap-2 whitespace-nowrap">
      <span>Création</span>
    </button>
    <hr class="w-full text-contrast4" />
    <a href="{{ url_for('pages.search_trips') }}"
      class="whitespace-nowrap">
      <p> Recherche </p>
    </a>
  </div>
  <hr class="w-full text-contrast4 mt-4" />
  <a href="{{ url_for('pages.contact') }}"
    class="whitespace-nowrap">
    <p> Contact </p>
  </a>
</section>
