{% for review in pending_r %}
  <tr class="text-apart">
    <td class="border border-(--color-ground3) p-2">
      <button
        type="button"
        hx-get="{{ url_for('mods.get_review_details', review_id=review._id) }}"
        hx-target="#global-modal"
        hx-swap="innerHTML"
        hx-on::after-request="window.Alpine.store('modal').open()"
        hx-on::response-error="window.Alpine.store('modal').htmlContent(event.detail.xhr.response)"
        class="px-2 py-1 bg-(--color-apart) hover:bg-(--color-apart2) text-white rounded"
        >voir detail</button>
    </td>
    <td class="border border-(--color-ground3) p-2">{{review.trip_evaluation}}</td>
    <td class="border border-(--color-ground3) p-2">{{review.review_comment}}</td>
    <td class="flex gap-2 items-center justify-center border border-(--color-ground3) p-2">
      <button
        hx-post="{{ url_for('mods.approve_review', review_id=review.id) }}"
        hx-confirm="Etes-vous sûr de vouloir approuver cet avis ?"
        class="px-2 py-1 bg-green-600 hover:bg-green-700 text-white rounded"
      >accepter</button>
      <button
        hx-post="{{ url_for('mods.reject_review', review_id=review.id) }}"
        hx-confirm="Etes-vous sûr de vouloir rejeter cet avis ?"
        class="px-2 py-1 bg-(--color-error) hover:bg-(--color-error2) text-white rounded"
      >rejeter</button>
    </td>
  </tr>
{% else %}
  <tr class="text-apart">
    <td>Aucun avis à réviser</td>
  </tr>
{% endfor %}

