<section id="user-trips" class="p-4 flex flex-col gap-6 text-contrast3 rounded-sm w-full">
  <h2 class="text-xl text-contrast">Voyages</h2>
  <div class="flex flex-col gap-6 w-full">
    {% if "passenger" in roles %}
      <div
        x-data="{ expand: false }"
        hx-get="{{ url_for('trips.passenger_trips', for_user=current_user.user_id) }}"
        hx-trigger="load"
        hx-target="#passenger-trips"
        hx-swap="innerHTML"
        class="flex justify-start"
      >
        <button
          @click="expand = !expand"
          class="py-2 px-4 flex bg-apart hover:bg-apart2 text-contrast2 items-center rounded-sm"
        >
          voyages passager
        </button>
        <div x-show="expand" x-collapse id="passenger-trips" ></div>
      </div>
    {% endif %}

    {% if "driver" in roles %}
      <div 
        x-data="{ expand: false }"
        hx-get="{{ url_for('trips.driver_trips', for_user=current_user.user_id) }}"
        hx-trigger="load"
        hx-target="#driver-trips"
        hx-swap="innerHTML"
        class="flex justify-start"
      >
        <button
          @click="expand = !expand"
          class="py-2 px-4 flex bg-apart hover:bg-apart2 text-contrast2 items-center rounded-sm"
        >
          voyages conducteur.ice
        </button>
        <div x-show="expand" x-collapse id="driver-trips"></div>
      </div>
    {% endif %}
  </div>
</section>
